/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER  */
header {
    width: 100%;
    background-color: #FF6900;

}

.categories {
    height: 100px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 25px;
    width: 10%;
}

.icons {
    color: white;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}